<form action="" (ngSubmit)="alEnviar()">
  <div class="grupo-entrada">
    <p>
      <label for="inversion-inicial">Inversión inicial</label>
      <input
        type="number"
        id="inversion-inicial"
        name="inversion-inicial"
        [(ngModel)]="inversionInicialIngresada"
      />
    </p>
    <p>
      <label for="inversion-anual">Inversión anual</label>
      <input
        type="number"
        id="inversion-anual"
        name="inversion-anual"
        [(ngModel)]="inversionAnualIngresada"
      />
    </p>
  </div>
  <div class="grupo-entrada">
    <p>
      <label for="rendimiento-esperado">Tasa de retorno esperada</label>
      <input
        type="number"
        id="rendimiento-esperado"
        name="rendimiento-esperado"
        [(ngModel)]="rendimientoEsperadoIngresado"
      />
    </p>
    <p>
      <label for="duracion">Duración</label>
      <input
        type="number"
        id="duracion"
        name="duracion"
        [(ngModel)]="duracionIngresada"
      />
    </p>
  </div>
  <p>
    <button>Calcular</button>
  </p>
</form>
